@import '../glue'
$b: 'block'

.#{$b}
  margin: 0 82px 34px 82px
  line-height: 25px
  p
    margin-bottom: 17px

.#{$b}__title
  margin-bottom: 10px
  font-size: $font-size--big
  color: $color--red

.#{$b}__highlight
  font-size: $font-size--highlight
  line-height: 30px
